* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.main-button{
  background-color: #f1c40f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}